@using BlazorApp1.Data
@using Refit
@using System.Security.Claims
@inject BlazorApp1.Data.TokenProvider TokenProvider

<h3>AthleteDetail</h3>

@if (LoggedInAthlete != null)
{
	<div>Name: @LoggedInAthlete.firstname @LoggedInAthlete.lastname</div>
	<br />
	<div>Location: @LoggedInAthlete.city, @LoggedInAthlete.state</div>
	<br />
	<img src="@LoggedInAthlete.profile" />
}
else
{
	<div>Loading...</div>
}

@code {

	public DetailedAthlete LoggedInAthlete { get; set; }

	[Parameter]
	public ClaimsPrincipal User { get; set; }

	async protected override Task OnParametersSetAsync()
	{
		RefitSettings settings = new RefitSettings()
		{
			AuthorizationHeaderValueGetter = () => Task.FromResult(TokenProvider.AccessToken)
		};

		var stravaApi = RestService.For<IStravaApi>("https://www.strava.com/api/v3", settings);

		LoggedInAthlete = await stravaApi.GetLoggedInAthlete();
	}
}