@using BlazorApp1.Data
@using Refit
@inject BlazorApp1.Data.TokenProvider TokenProvider

<h3>AthleteDetail</h3>

<button @onclick="@GetData">Get Data</button>
@if (LoggedInAthlete != null)
{
	<div>Name: @LoggedInAthlete.firstname @LoggedInAthlete.lastname</div>
	<br />
	<div>Location: @LoggedInAthlete.city, @LoggedInAthlete.state</div>
	<br />
	<img src="@LoggedInAthlete.profile" />
}

@code {

	public DetailedAthlete LoggedInAthlete { get; set; }

	private void GetData()
	{
		RefitSettings settings = new RefitSettings()
		{
			AuthorizationHeaderValueGetter = () => Task.FromResult(TokenProvider.AccessToken)
		};

		var stravaApi = RestService.For<IStravaApi>("https://www.strava.com/api/v3", settings);

		LoggedInAthlete = stravaApi.GetLoggedInAthlete().Result;
		
		this.StateHasChanged();

	}


	
}